{% extends 'base.html' %}
    {% block content %}
    <h1><strong>User Signup</strong></h1>
    <form action="/user" method="post" >
        <table>
            <tbody>
                <tr>
                    <td>
                            <label for="usr_name">Username </label>
                            <input type="text" id="usr_name" name="User-name"
                                minlength="3" maxlength="20" required/>
                            <span class="error">That's not a valid username</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="passwd">Password (Between 3 and 20 characters): </label>
                    </td>
                    <td>
                        <input type="password" id="passwd" name="Password" 
                            pattern="[a-zA-Z0-9@#!].{3,20}"/>
                        <span class="error">That's not a valid password</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="confirm_passwd">Confirm Password </label>
                    </td>
                    <td>
                        <input type="password" id="confirm_passwd" name="Confirm-Password"
                            pattern="[a-zA-Z0-9@#!].{3,20}"/>
                        <span class="error">That's not a valid password</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email_address">Email Address (optional): </label>
                    </td>
                    <td>
                        <input type="text" id="email_address" name="Email-Address"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" name="submit query" />
    </form>
    {% endblock %}